In [6]:
import pandas as pd
filepath = 'Dataset/'
f = open(filepath + 'epinions.json', "r")
test_list = []
for line in f:
    test_list.append(line)

In [7]:
print(test_list[2])
print("\n",test_list[8])

{'user': 'redp944', 'stars': 4.0, 'time': 1118016000, 'paid': 1000.0, 'item': 'Sony_VAIO_PCG_K45_P4_538_3_2GHz_1MB_L2_533MHz_FSB_512MB_80GB_DVD_CDRW_56K_NIC_802_11bg_15_4_WXGA_XB_XP_PC_Notebook', 'review': 'this is my first laptop and i bought it about two months ago as a portable desktop replacement to go with me when i travel i got it at best buy on sale for right at 1000 and it was the best deal on the market as far as i could tell'}


 {'user': 'shadeybeep', 'stars': 4.0, 'time': 1052352000, 'paid': 0.0, 'item': 'cmhd-Monitors-All-Nokia_447Xi_Plus', 'review': 'as much as i wanted a 19 at the time i just didnt have the money i bought this one for a very decent price somewhere around 1998 and here it is 2003 and it still works perfectly not a single problem with it the picture quality was excellent i took a risk buying it online not knowing much about nokias monitors but it turned out to be a good one'}

In [9]:
# Reference for literal_eval taken from below link
# https://stackoverflow.com/questions/16897122/python-str-object-has-no-attribute-iteritems
import pandas as pd
from ast import literal_eval
filepath = 'Dataset/'
with open(filepath + 'epinions.json', 'r') as f:
    for line in f:
        user_dict = literal_eval(line)
        df = df.append(pd.DataFrame([user_dict]))

/Users/shalu/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [10]:
df.count()

0         188478
item      188478
paid      188478
review    188478
stars     188478
time      188478
user      188478
dtype: int64

In [25]:
df.tail()

,0,item,paid,review,stars,time,user
0,NaN,auto_Make-2002_Ford_Thunderbird,100000,ford has once again tried to bring back the th...,2.0,1.012608e+09,chris_baehr
0,NaN,auto_Make-2002_Ford_Thunderbird,44000,ford thunderbird the name alone says so much a...,4.0,1.016410e+09,BrianCam
0,NaN,auto_Make-2002_Ford_Thunderbird,41000,price is very high per features offered when y...,1.0,1.051747e+09,lanh
0,NaN,auto_Make-2002_Ford_Thunderbird,42155,after a 5year break ford finally restores its ...,5.0,1.029974e+09,spdster2002
0,NaN,auto_Make-2002_Ford_Thunderbird,38000,whats the best way to find out if you really l...,5.0,1.274227e+09,nylaphx

In [12]:
filepath = 'Dataset/network_trust.txt'
import pandas as pd
df2 = pd.read_csv(filepath, sep = '\s+', header = None, names=['user1','trust','user2'])

In [24]:
df2.tail()

             user1  trust          user2
691887      susiee  trust  workingmomof2
691888  warriorray  trust        jh33194
691889   wideangle  trust      jeffdaddy
691890      dejata  trust     ready2bmom
691891   mummummum  trust         lrguis

In [14]:
df2['user1'].nunique()

54787

In [15]:
df2['user2'].nunique()

60883

In [16]:
df['user'].nunique()

116260

In [17]:
'''
i = 0
j = 0
for j in range(len(df2)):
    #print("user:", user, " and user1:", df2['user1'][i])
    for i in range(len(df)):
        if df2['user1'].iloc[j] == df['user'].iloc[i] or df2['user2'].iloc[j] == df['user'].iloc[i]:
            print(df['user'].iloc[i])
            #print(df2['user2'][i])
            df2['weight'] = 1
        else:
            df2['weight'] = 0
        i += 1
    j += 1
    if(j == 300):
        break
'''

'\ni = 0\nj = 0\nfor j in range(len(df2)):\n    #print("user:", user, " and user1:", df2[\'user1\'][i])\n    for i in range(len(df)):\n        if df2[\'user1\'].iloc[j] == df[\'user\'].iloc[i] or df2[\'user2\'].iloc[j] == df[\'user\'].iloc[i]:\n            print(df[\'user\'].iloc[i])\n            #print(df2[\'user2\'][i])\n            df2[\'weight\'] = 1\n        else:\n            df2[\'weight\'] = 0\n        i += 1\n    j += 1\n    if(j == 300):\n        break\n'

In [18]:
df.to_csv('Dataset/epinion_preprocessed.csv')

In [19]:
df2.to_csv('Dataset/network_trust_preprocessed.csv')

In [20]:
filepath = 'Dataset/network_trustedby.txt'
import pandas as pd
df3 = pd.read_csv(filepath, sep = '\s+', header = None, names=['user1','trustedby','user2'])

In [21]:
df3.head()

           user1  trustedby       user2
0  lavenderfruit  trustedby  kristinafh
1       Rosalyce  trustedby      cindee
2        Sharkie  trustedby      theeye
3       chiquita  trustedby  magenta321
4       ValerieG  trustedby   jabbrjwz2

In [22]:
df3.to_csv('Dataset/network_trustedby_preprocessed.csv')

In [23]:
result = pd.merge(df, df2, how='left', left_on='user', right_on='user1')