In [1]:
# Reference taken from in-class small graph demo

import sys
#sys.path.append('/home/012565046/.local/lib/python3.7/site-packages')
sys.path.append('/home/012565046/.local/lib/python2.7/site-packages')

import networkx as nx
import matplotlib.pyplot as plt

#G = nx.Graph()
G = nx.DiGraph()

In [495]:
path = 'Dataset/epinion_network_trust_new.csv'
import pandas as pd
df = pd.read_csv(path)

In [3]:
#  https://stackoverflow.com/questions/28488559/networkx-duplicate-edges
G = nx.from_pandas_edgelist(df, 'user1', 'user2')

In [4]:
for index, row in df.iterrows():
    G.add_edge(row['user1'], row['user2'])

In [5]:
# https://networkx.github.io/documentation/stable/reference/drawing.html
'''
plt.figure(figsize=(4,4))
#nx.draw_circular(G)
#nx.draw_random(G)
nx.draw_spectral(G, with_labels=True)
plt.show()
'''

'\nplt.figure(figsize=(4,4))\n#nx.draw_circular(G)\n#nx.draw_random(G)\nnx.draw_spectral(G, with_labels=True)\nplt.show()\n'

In [6]:
# https://networkx.github.io/documentation/stable/reference/drawing.html
# Section referred: Matplotlib, Graph Layout
'''
plt.figure(figsize=(15,10))

#pos = nx.circular_layout(G)
pos = nx.kamada_kawai_layout(G)
nx.draw_networkx_nodes(G, pos, node_color='red', edgecolors='black')
nx.draw_networkx_edges(G, pos)
plt.title('Node Graph for Trust Data')
'''

"\nplt.figure(figsize=(15,10))\n\n#pos = nx.circular_layout(G)\npos = nx.kamada_kawai_layout(G)\nnx.draw_networkx_nodes(G, pos, node_color='red', edgecolors='black')\nnx.draw_networkx_edges(G, pos)\nplt.title('Node Graph for Trust Data')\n"

In [7]:
print("number of edges=", len(G.edges()))
print("number of nodes=", len(G.nodes()))

number of edges= 282882
number of nodes= 48610

In [8]:
degree_centrality = nx.degree_centrality(G)

In [9]:
closeness_centrality = nx.closeness_centrality(G)

In [10]:
betweenness_centrality = nx.betweenness_centrality(G)

In [29]:
# reference: https://www.datacamp.com/community/tutorials/social-network-analysis-python
'''
pos = nx.spring_layout(G)
node_color = [20000.0 * G.degree(v) for v in G]
node_size =  [v * 10000 for v in degree_centrality.values()]
plt.figure(figsize=(15,10))
nx.draw_networkx(G, pos=pos, with_labels=False, node_color=node_color, node_size=node_size )
'''

'\npos = nx.spring_layout(G)\nnode_color = [20000.0 * G.degree(v) for v in G]\nnode_size =  [v * 10000 for v in degree_centrality.values()]\nplt.figure(figsize=(15,10))\nnx.draw_networkx(G, pos=pos, with_labels=False, node_color=node_color, node_size=node_size )\n'

In [12]:
# reference: https://www.datacamp.com/community/tutorials/social-network-analysis-python
# https://matplotlib.org/3.1.1/gallery/recipes/create_subplots.html

# creating subplots for different centrality measures
'''
plt.figure(figsize=(20,10))

plt.subplot(1,3,1)
pos = nx.spring_layout(G)
node_color = [20000.0 * G.degree(v) for v in G]
node_size =  [v * 10000 for v in degree_centrality.values()]
nx.draw_networkx(G, pos=pos, with_labels=False, node_color=node_color, node_size=node_size, arrowstyle = '>')

plt.subplot(1,3,2)
node_color = [20000.0 * G.degree(v) for v in G]
node_size =  [v * 10000 for v in closeness_centrality.values()]
nx.draw_networkx(G, pos=pos, with_labels=False, node_color=node_color, node_size=node_size, arrowstyle = '>')

plt.subplot(1,3,3)
node_color = [20000.0 * G.degree(v) for v in G]
node_size =  [v * 10000 for v in betweenness_centrality.values()]
nx.draw_networkx(G, pos=pos, with_labels=False, node_color=node_color, node_size=node_size, arrowstyle = '>')
'''

"\nplt.figure(figsize=(20,10))\n\nplt.subplot(1,3,1)\npos = nx.spring_layout(G)\nnode_color = [20000.0 * G.degree(v) for v in G]\nnode_size =  [v * 10000 for v in degree_centrality.values()]\nnx.draw_networkx(G, pos=pos, with_labels=False, node_color=node_color, node_size=node_size, arrowstyle = '>')\n\nplt.subplot(1,3,2)\nnode_color = [20000.0 * G.degree(v) for v in G]\nnode_size =  [v * 10000 for v in closeness_centrality.values()]\nnx.draw_networkx(G, pos=pos, with_labels=False, node_color=node_color, node_size=node_size, arrowstyle = '>')\n\nplt.subplot(1,3,3)\nnode_color = [20000.0 * G.degree(v) for v in G]\nnode_size =  [v * 10000 for v in betweenness_centrality.values()]\nnx.draw_networkx(G, pos=pos, with_labels=False, node_color=node_color, node_size=node_size, arrowstyle = '>')\n"

In [13]:
# Reference: https://thispointer.com/python-how-to-sort-a-dictionary-by-key-or-value/

# printing top 10 users with highest degree centrality
print("\nDegree Centrality")
[(key , " : " , value) for (key, value) in sorted(degree_centrality.items() , reverse = True, key=lambda x: x[1])[:10]]

Degree Centrality

[('ptiemann', ' : ', 0.05282972289082269),
 ('nancy35c', ' : ', 0.032895142874776274),
 ('gooberpyle', ' : ', 0.03262770268880248),
 ('mszorak', ' : ', 0.031434508012919415),
 ('bryan_carey', ' : ', 0.031413935690921435),
 ('charles', ' : ', 0.025530251599498035),
 ('bonniesayers', ' : ', 0.023473019399699643),
 ('jo.com', ' : ', 0.023143862247731902),
 ('howard_creech', ' : ', 0.02312328992573392),
 ('kristinafh', ' : ', 0.022917566705754077)]

In [14]:
# printing top 10 users with highest closeness centrality
print("\nCloseness Centrality")
[(key , " : " , value) for (key, value) in sorted(closeness_centrality.items() , reverse = True, key=lambda x: x[1])[:10]]

Closeness Centrality

[('nancy35c', ' : ', 0.3696107774118041),
 ('ptiemann', ' : ', 0.36882694635916463),
 ('charles', ' : ', 0.36509818206176103),
 ('bryan_carey', ' : ', 0.3582108431452485),
 ('teanna3', ' : ', 0.3573977285859478),
 ('jo.com', ' : ', 0.35615443562819915),
 ('surferdude7', ' : ', 0.35434187533230604),
 ('mrkstvns', ' : ', 0.3538411538726802),
 ('martineden', ' : ', 0.35261645764957156),
 ('jedikermit', ' : ', 0.35196257400766723)]

In [15]:
# printing top 10 users with highest closeness centrality
print("\nBetweenness Centrality")
[(key , " : " , value) for (key, value) in sorted(betweenness_centrality.items() , reverse = True, key=lambda x: x[1])[:10]]

Betweenness Centrality

[('ptiemann', ' : ', 0.057356282041780594),
 ('gooberpyle', ' : ', 0.04313088356747514),
 ('mszorak', ' : ', 0.03871148002242183),
 ('nancy35c', ' : ', 0.02857222076789126),
 ('charles', ' : ', 0.022706586927516034),
 ('howard_creech', ' : ', 0.017296042165237318),
 ('teanna3', ' : ', 0.016641443969387472),
 ('bryan_carey', ' : ', 0.015648574429234237),
 ('hwz1', ' : ', 0.01403480155918806),
 ('surferdude7', ' : ', 0.013926297201678942)]

In [16]:
# using pagerank, finding most trusted users
trust_factor = nx.pagerank(G, alpha=1, tol = 1)

In [17]:
# printing top 10 users with highest degree centrality

trust_score = []

print("\nTrust Factor")
trust_score = [(key ,value) for key, value in sorted(trust_factor.items() , reverse = True, key=lambda x: x[1])]
trust_score[:10]

Trust Factor

[('gooberpyle', 0.02028350426271167),
 ('mszorak', 0.013023352236499398),
 ('ptiemann', 0.008035944236226049),
 ('pogokat', 0.0044581953788575875),
 ('nancy35c', 0.004111084444717879),
 ('howard_creech', 0.0038654291541512244),
 ('bradywahl', 0.0037016810534035833),
 ('mkaresh', 0.0034248346100743923),
 ('riseley', 0.002668720632803134),
 ('guv920', 0.0026651424828751384)]

In [18]:
type(trust_score[0])

tuple

In [ ]:
#trust_df.to_csv('Dataset/trust_scores.csv')

#Building the Recommender System based on trust score

Adding the trust score field in the original review file
Approach: Trust score will be added to the review rating and an overall normalized rating will be recalculated in the range 1-5
The recommendations will be based on the new ratings

In [473]:
filepath = 'Dataset/epinion_preprocessed.csv'
import pandas as pd
df1 = pd.read_csv(filepath)
df1['user'] = df1['user'].str.lower()
df1.count()

item      188484
paid      188296
review    188484
stars     188484
time      188484
user      188483
dtype: int64

In [474]:
df1.head()

,item,paid,review,stars,time,user
0,pr-Sony_KV_36FS12__Standard_Televisions,1199,well when i graduated from college it didnt ta...,5,1012262400,pyros7
1,Minolta_QMS_PagePro_1250E_Printers,260,i got this printer from minolta as a warranty ...,4,1027296000,fgb59h
2,Sony_VAIO_PCG_K45_P4_538_3_2GHz_1MB_L2_533MHz_...,1800,although i love my vaio especially the gorgeou...,2,1201305600,bucho_ky
3,Sony_VAIO_PCG_K45_P4_538_3_2GHz_1MB_L2_533MHz_...,1000,this is my first laptop and i bought it about ...,4,1118016000,redp944
4,pr-Durabrand_CD-85_Personal_CD_Player,20,just recently my sony dej001 walkman died on m...,4,1149292800,spongebag7

In [475]:
df1.drop_duplicates(inplace = True)

In [476]:
trust_df = pd.read_csv('Dataset/trust_scores.csv')
#trust_df = pd.DataFrame(trust_score)

In [477]:
trust_df.columns = ['user','trust_score']

In [478]:
trust_df.head()

         user  trust_score
0  gooberpyle     0.020284
1     mszorak     0.013023
2    ptiemann     0.008036
3     pogokat     0.004458
4    nancy35c     0.004111

In [479]:
trust_df.describe()

        trust_score
count  4.861000e+04
mean   2.057369e-05
std    1.480943e-04
min    8.010000e-09
25%    2.120000e-07
50%    1.580000e-06
75%    1.060000e-05
max    2.028350e-02

In [480]:
# scaling the trust scores 
trust_df['trust_score'] = trust_df['trust_score'] * 100

In [481]:
trust_df.describe()

        trust_score
count  4.861000e+04
mean   2.057369e-03
std    1.480943e-02
min    8.010000e-07
25%    2.120000e-05
50%    1.580000e-04
75%    1.060000e-03
max    2.028350e+00

In [482]:
# Defining threshold value for trust_score check
trust_df[trust_df['trust_score'] < 0.00005].count()

user           17343
trust_score    17343
dtype: int64

In [483]:
result_df = pd.merge(df1, trust_df, how='left', on='user')

In [484]:
result_df.head(10)

,item,paid,review,stars,time,user,trust_score
0,pr-Sony_KV_36FS12__Standard_Televisions,1199,well when i graduated from college it didnt ta...,5,1012262400,pyros7,NaN
1,Minolta_QMS_PagePro_1250E_Printers,260,i got this printer from minolta as a warranty ...,4,1027296000,fgb59h,NaN
2,Sony_VAIO_PCG_K45_P4_538_3_2GHz_1MB_L2_533MHz_...,1800,although i love my vaio especially the gorgeou...,2,1201305600,bucho_ky,NaN
3,Sony_VAIO_PCG_K45_P4_538_3_2GHz_1MB_L2_533MHz_...,1000,this is my first laptop and i bought it about ...,4,1118016000,redp944,NaN
4,pr-Durabrand_CD-85_Personal_CD_Player,20,just recently my sony dej001 walkman died on m...,4,1149292800,spongebag7,0.003870
5,pr-Sony_KV_36FS12__Standard_Televisions,1350,out of the box its an impressive television it...,4,982281600,daleb,0.003640
6,pr-Sony_KV_36FS12__Standard_Televisions,1200,when i first bought this tv i was pleased with...,1,1109116800,tarsyn,NaN
7,pr-Sony_KV_36FS12__Standard_Televisions,1350,the only real gripe is just the insane weight ...,5,981158400,genkle1,NaN
8,cmhd-Monitors-All-Nokia_447Xi_Plus,0,as much as i wanted a 19 at the time i just di...,4,1052352000,shadeybeep,NaN
9,century-novelty-harry-potter-gryffindor-house-...,14,you dont need spells to keep you cozy this sea...,5,1337299200,kelsey34491,0.000011

In [485]:
result_df.count()

item           188433
paid           188245
review         188433
stars          188433
time           188433
user           188432
trust_score     55319
dtype: int64

In [486]:
result_df['trust_score'].fillna(0, inplace = True)

In [487]:
result_df.head()

,item,paid,review,stars,time,user,trust_score
0,pr-Sony_KV_36FS12__Standard_Televisions,1199,well when i graduated from college it didnt ta...,5,1012262400,pyros7,0.00000
1,Minolta_QMS_PagePro_1250E_Printers,260,i got this printer from minolta as a warranty ...,4,1027296000,fgb59h,0.00000
2,Sony_VAIO_PCG_K45_P4_538_3_2GHz_1MB_L2_533MHz_...,1800,although i love my vaio especially the gorgeou...,2,1201305600,bucho_ky,0.00000
3,Sony_VAIO_PCG_K45_P4_538_3_2GHz_1MB_L2_533MHz_...,1000,this is my first laptop and i bought it about ...,4,1118016000,redp944,0.00000
4,pr-Durabrand_CD-85_Personal_CD_Player,20,just recently my sony dej001 walkman died on m...,4,1149292800,spongebag7,0.00387

In [488]:
#trust_df.to_csv('Dataset/trust_scores.csv')

#Modified the rating based on trust factor
#Logic: if trust > trust threshold value; rating will remain the same
#if trust < trust threshold value then: if rating > 3, rating = rating - 0.5
                                       #if rating < 3, rating = rating + 0.5
#Considering trust threshold value as 0.00005 (random experiment)

In [489]:
trust_threshold = 0.00005

condition1 = (result_df['trust_score'] < trust_threshold)

# creating a temporary field 'stars2' for capturing intermediate rating scores based on different conditions
result_df['stars2'] = result_df['stars'] + result_df[condition1]['stars'].apply(lambda x: -0.5  if x >= 3 else 0.5)
result_df['stars2'].fillna(result_df['stars'], inplace = True)

result_df.head(10)

,item,paid,review,stars,time,user,trust_score,stars2
0,pr-Sony_KV_36FS12__Standard_Televisions,1199,well when i graduated from college it didnt ta...,5,1012262400,pyros7,0.000000,4.5
1,Minolta_QMS_PagePro_1250E_Printers,260,i got this printer from minolta as a warranty ...,4,1027296000,fgb59h,0.000000,3.5
2,Sony_VAIO_PCG_K45_P4_538_3_2GHz_1MB_L2_533MHz_...,1800,although i love my vaio especially the gorgeou...,2,1201305600,bucho_ky,0.000000,2.5
3,Sony_VAIO_PCG_K45_P4_538_3_2GHz_1MB_L2_533MHz_...,1000,this is my first laptop and i bought it about ...,4,1118016000,redp944,0.000000,3.5
4,pr-Durabrand_CD-85_Personal_CD_Player,20,just recently my sony dej001 walkman died on m...,4,1149292800,spongebag7,0.003870,4.0
5,pr-Sony_KV_36FS12__Standard_Televisions,1350,out of the box its an impressive television it...,4,982281600,daleb,0.003640,4.0
6,pr-Sony_KV_36FS12__Standard_Televisions,1200,when i first bought this tv i was pleased with...,1,1109116800,tarsyn,0.000000,1.5
7,pr-Sony_KV_36FS12__Standard_Televisions,1350,the only real gripe is just the insane weight ...,5,981158400,genkle1,0.000000,4.5
8,cmhd-Monitors-All-Nokia_447Xi_Plus,0,as much as i wanted a 19 at the time i just di...,4,1052352000,shadeybeep,0.000000,3.5
9,century-novelty-harry-potter-gryffindor-house-...,14,you dont need spells to keep you cozy this sea...,5,1337299200,kelsey34491,0.000011,4.5

In [490]:
# copying final stars2 ratings into stars field and dropping the intermediate stars2 field

result_df['stars'] = result_df['stars2']
result_df.drop(columns='stars2', inplace = True)

In [491]:
result_df.head()

,item,paid,review,stars,time,user,trust_score
0,pr-Sony_KV_36FS12__Standard_Televisions,1199,well when i graduated from college it didnt ta...,4.5,1012262400,pyros7,0.00000
1,Minolta_QMS_PagePro_1250E_Printers,260,i got this printer from minolta as a warranty ...,3.5,1027296000,fgb59h,0.00000
2,Sony_VAIO_PCG_K45_P4_538_3_2GHz_1MB_L2_533MHz_...,1800,although i love my vaio especially the gorgeou...,2.5,1201305600,bucho_ky,0.00000
3,Sony_VAIO_PCG_K45_P4_538_3_2GHz_1MB_L2_533MHz_...,1000,this is my first laptop and i bought it about ...,3.5,1118016000,redp944,0.00000
4,pr-Durabrand_CD-85_Personal_CD_Player,20,just recently my sony dej001 walkman died on m...,4.0,1149292800,spongebag7,0.00387

In [464]:
## Let's create a new dataframe which we'll use for predicting the user ratings

df_new = result_df[['item','user','stars']]

In [465]:
from surprise import SVD
ratings_dict = {'user': result_df['user'],
                'item': result_df['item'],
                'stars': result_df['stars']}
df2 = pd.DataFrame(ratings_dict)

In [466]:
from surprise import Reader
from surprise import Dataset
reader = Reader(rating_scale=(1, 5))
data = Dataset.load_from_df(df2[['user', 'item', 'stars']], reader)

In [467]:
# Splitting the training set to train and test for validation
from surprise.model_selection import train_test_split
trainset, testset = train_test_split(data, test_size=.20)

from surprise.model_selection import cross_validate
algo = SVD()
algo.fit(trainset)
cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=3, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 3 split(s).

                  Fold 1  Fold 2  Fold 3  Mean    Std
RMSE (testset)    1.0907  1.0919  1.0901  1.0909  0.0008
MAE (testset)     0.9167  0.9176  0.9168  0.9170  0.0004
Fit time          9.92    10.25   10.16   10.11   0.14
Test time         0.90    0.62    0.61    0.71    0.14

{'test_rmse': array([1.0907143 , 1.09193875, 1.09009411]),
 'test_mae': array([0.91671141, 0.91760349, 0.91676896]),
 'fit_time': (9.92244815826416, 10.248575925827026, 10.159053087234497),
 'test_time': (0.9036331176757812, 0.6200001239776611, 0.6110877990722656)}

In [468]:
from surprise import accuracy
algo.fit(trainset)
predictions = algo.test(testset)
print(accuracy.rmse(predictions))
print(accuracy.mae(predictions))

RMSE: 1.0819
1.0819456993970094
MAE:  0.9077
0.9076727488480838

In [469]:
## Without including trust factor

df_original = df1[['item','user','stars']]
ratings_dict = {'user': df1['user'],
                'item': df1['item'],
                'stars': df1['stars']}
df2 = pd.DataFrame(ratings_dict)
reader = Reader(rating_scale=(1, 5))
data = Dataset.load_from_df(df2[['user', 'item', 'stars']], reader)
trainset, testset = train_test_split(data, test_size=.20)
algo = SVD()
algo.fit(trainset)
cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=3, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 3 split(s).

                  Fold 1  Fold 2  Fold 3  Mean    Std
RMSE (testset)    1.3593  1.3546  1.3542  1.3561  0.0023
MAE (testset)     1.1349  1.1310  1.1305  1.1322  0.0020
Fit time          10.27   10.19   10.34   10.27   0.06
Test time         0.68    0.64    0.66    0.66    0.02

{'test_rmse': array([1.35929818, 1.35464013, 1.35422148]),
 'test_mae': array([1.13490507, 1.13104105, 1.13053954]),
 'fit_time': (10.27334189414978, 10.187834978103638, 10.335368871688843),
 'test_time': (0.6760389804840088, 0.6380343437194824, 0.6631879806518555)}

In [470]:
algo.fit(trainset)
predictions = algo.test(testset)
print(accuracy.rmse(predictions))
print(accuracy.mae(predictions))

RMSE: 1.3520
1.3519661056004055
MAE:  1.1244
1.124355684977491

# Based on these calculations, we can clearly see a better RMSE and MAE score by considering trust scores into account

In [612]:
# using trust-based recommendation for product recommendation: Brute force approach

# Use Case scenario for the three users: ptiemann, kristinafh, spongebag7

test_users = ['ptiemann', 'kristinafh', 'spongebag7']
new_review_df = result_df[result_df['trust_score'] >= 0]

In [613]:
result_df.head()

,item,paid,review,stars,time,user,trust_score
0,pr-Sony_KV_36FS12__Standard_Televisions,1199,well when i graduated from college it didnt ta...,4.5,1012262400,pyros7,0.00000
1,Minolta_QMS_PagePro_1250E_Printers,260,i got this printer from minolta as a warranty ...,3.5,1027296000,fgb59h,0.00000
2,Sony_VAIO_PCG_K45_P4_538_3_2GHz_1MB_L2_533MHz_...,1800,although i love my vaio especially the gorgeou...,2.5,1201305600,bucho_ky,0.00000
3,Sony_VAIO_PCG_K45_P4_538_3_2GHz_1MB_L2_533MHz_...,1000,this is my first laptop and i bought it about ...,3.5,1118016000,redp944,0.00000
4,pr-Durabrand_CD-85_Personal_CD_Player,20,just recently my sony dej001 walkman died on m...,4.0,1149292800,spongebag7,0.00387

In [614]:
path = 'Dataset/epinion_network_trust_new.csv'
import pandas as pd
df = pd.read_csv(path)

In [615]:
df.head()

           user1       user2
0     rcaarmsc07  spongebag7
1     blindsider  spongebag7
2        bruguru  spongebag7
3  speeddemon531  spongebag7
4         cyndia  spongebag7

In [617]:
for i in range(len(test_users)):
    trustee_df = df[df['user1'] == test_users[i]]
    trustee_df.drop(columns = 'user1', inplace = True)
    trustee_df = pd.merge(trustee_df, trust_df, how='inner', left_on='user2', right_on='user')
    trustee_df.drop(columns = 'user2', inplace = True)
    trustee_df.drop_duplicates(inplace = True)
    trustee_df = trustee_df.sort_values(by = 'trust_score', ascending=False)[:10]
    print("trusted users for ",test_users[i]," in network:", trustee_df)
    df_new = pd.merge(trustee_df, new_review_df, how='inner', on='user')
    print("Recommendations for ", test_users[i])
    i += 1
    df_new = df_new.sort_values(by = ['stars'], ascending=[False])[:5]
    new_list = [df_new['item'],df_new['stars']]
    print(new_list)
    print("-----------------------------------------------")

trusted users for  ptiemann  in network:             user  trust_score
577   gooberpyle     2.028350
800    bradywahl     0.370168
628       guv920     0.266514
670     jdw52348     0.264456
59       teanna3     0.256103
25          hwz1     0.252101
63   chrissamdog     0.249508
76       charles     0.246713
56      poseidon     0.242073
206    cheerio77     0.168567
Recommendations for  ptiemann
[0              pr-Sonic_Blue_Rio_Chiba_256MB_MP3_Player
44                                  Maclaren_Vogue_2002
67    pr-Kenmore_721_sq_in_Cooking_Area_Gas_Grill_ET...
66                         auto_Make-2003_Toyota_Avalon
65    Minolta_Dimage_F100_Digital_Camera__Camera_277...
Name: item, dtype: object, 0     5.0
44    5.0
67    5.0
66    5.0
65    5.0
Name: stars, dtype: float64]
-----------------------------------------------
trusted users for  kristinafh  in network:                user  trust_score
301   howard_creech     0.386543
49          teanna3     0.256103
25             hwz1     0.252101
53      chrissamdog     0.249508
68          charles     0.246713
1107    bryan_carey     0.217933
395        bops_mom     0.202389
415        chaissja     0.199800
26      surferdude7     0.187214
442    sparkospunky     0.174600
Recommendations for  kristinafh
[78    pr-Kenmore_721_sq_in_Cooking_Area_Gas_Grill_ET...
76    Minolta_Dimage_F100_Digital_Camera__Camera_277...
74    Olympus_Camedia_C_400_Zoom_Digital_Camera_Digi...
73                            auto_Make-2002_Honda_CR-V
72    Nikon_N80_35mm_Autofocus_SLR_Camera__Camera_n8...
Name: item, dtype: object, 78    5.0
76    5.0
74    5.0
73    5.0
72    5.0
Name: stars, dtype: float64]
-----------------------------------------------
trusted users for  spongebag7  in network:            user  trust_score
1    gooberpyle     2.028350
12  bryan_carey     0.217933
18  surferdude7     0.187214
14   melissasrn     0.174595
30      cntaur5     0.133896
37    popsrocks     0.128013
36      matta75     0.114317
2        amyk49     0.112903
24      wsmunch     0.069455
21     freak369     0.066667
Recommendations for  spongebag7
[0              pr-Sonic_Blue_Rio_Chiba_256MB_MP3_Player
38                       pr-ASUS_A8V_Deluxe_Motherboard
64    Bandai_Tamagotchi_Connection_V_4_5_Original_Vi...
33    pr-Canon-Powershot_G5_Camera_and_i9100D_Photo_...
24    pr-Samsung_SyncMaster_171_V_17_in_Flat_Panel_T...
Name: item, dtype: object, 0     5.0
38    5.0
64    5.0
33    5.0
24    5.0
Name: stars, dtype: float64]
-----------------------------------------------